<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifehack.quiz">

    <application
        android:allowBackup="true"
        android:label="Life Hack or Urban Myth"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!-- Welcome / Launch Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flashcard Question Screen -->
        <activity android:name=".QuizActivity" android:exported="false" />

       <!-- Score Screen -->
        <activity android:name=".ScoreActivity" android:exported="false" />

        <!-- Review Screen -->
        <activity android:name=".ReviewActivity" android:exported="false" />

    </application>

</manifest>